.back-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.back-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.back-icon img:hover {
    background: #626262;
}