body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#000040 100%, #0000A6 100%);
    color: #FFFFFF;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-content {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

/* Hộp tìm kiếm */
.search-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 175px;
    margin-bottom: 30px;
    margin-left: 250px;
}


.search-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    width: 230px;
    height: 40px;
}

.search-box button {
    background-color: #ffffff;
    color: #0b0c10;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    width: 135px;
    height: 42px;
}

.results {
    width: 750px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.results h2 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 10px;
}
