<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hàng chờ in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage/studentOption.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/showHistory/spso_History.css') }}">
</head>
<body>
    <div class="student-container">
        <!-- Sidebar bên trái -->
        <div class="sidebar">
            <a class="logo-container" href="/spsoOption">
                <img src="{{ url_for('static', filename='public/images/hcmut.png') }}" alt="Logo BK" class="logo">
            </a>
            <h2 class="sidebar-title">Hàng chờ in</h2>
            <a href="/showHistorySPSO" class="sidebar-btn">Lịch sử in</a>
            <a href="/showRequestQueueSPSO" class="sidebar-btn">Hàng chờ in</a>
        </div>

        <!-- Phần chính -->
        <div class="main-content">
            <!-- Nút thoát -->
            <a href="/" class="back-icon">
                <img src="{{ url_for('static', filename='public/images/back-icon.png') }}" alt="Back">
            </a>
            
            <!-- Flex container for input-information and result sections -->
            <div class="content-wrapper">
                <!-- Left: input-information -->
                <div id="input-information-2">
                    <div class="input-container">
                        <label class="input-label" for="mssv">Nhập MSSV
                            <input type="text" id="mssv" placeholder="1234567" class="text-input">
                        </label>
                    </div>
                    <a href="/showRequestQueueStudentResult">
                        <button id="search-btn">Tìm kiếm</button>
                    </a>
                </div>
        
                <!-- Right: result section -->
                <div id="result">
                    <h2 class="search-result-title">Kết quả tìm kiếm:</h2>
                    <div id="result-table">
                        <!-- The result records will be dynamically added here -->
                        <div class="result-item">
                            <img src="{{ url_for('static', filename='public/images/gallery.png') }}" alt="Image" class="result-image">
                            <div class="result-text">
                                <div class=result-header>
                                    <h3 class="result-line">Tên tài liệu 4.docx</h3>
                                    <h3 class="result-date-2">Ngày in: 05/12/2024 --- Đang in</h3>
                                </div>
                                <p class="result-line">Máy in: 3</p>
                            </div>
                        </div>
                        <div class="result-item">
                            <img src="{{ url_for('static', filename='public/images/gallery.png') }}" alt="Image" class="result-image">
                            <div class="result-text">
                                <div class=result-header>
                                    <h3 class="result-line">Tên tài liệu 5.docx</h3>
                                    <h3 class="result-date-2">Ngày in: 05/12/2024 --- Đang chờ</h3>
                                </div>
                                <p class="result-line">Máy in: 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            
        </div>
    </div>
</body>
</html>