<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hàng chờ in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage/studentOption.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/printDocument/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
    <div class="student-container">
        <!-- Sidebar bên trái -->
        <div class="sidebar">
            <a class="logo-container" href="/studentOption">
                <img src="{{ url_for('static', filename='public/images/hcmut.png') }}" alt="Logo BK" class="logo">
            </a>
            <h2 class="sidebar-title">Hàng chờ in</h2>
            <a href="/printRequest" class="sidebar-btn">Thêm yêu cầu in</a>
            <a href="/printDocument" class="sidebar-btn">In tài liệu</a>
            <a href="/studentHistory" class="sidebar-btn">Lịch sử in</a>
            <a href="/showRequestQueue" class="sidebar-btn">Hàng chờ in</a>
        </div>

        <!-- Phần chính -->
        <div class="main-content">
            <!-- Nút thoát -->
            <a href="/" class="back-icon">
                <img src="{{ url_for('static', filename='public/images/back-icon.png') }}" alt="Back">
            </a>

            <div class="main-right">
                <div class="inner-print-list">

                            <div class="inner-request">
                                <div class="inner-request-title">
                                    Tên tài liệu 4.docx
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="inner-request-image">
                                    <img src="{{ url_for('static', filename='public/images/gallery.png') }}"> 
                                </div>
                                <div class="inner-request-info">
                                    <div class="inner-printer">
                                        Máy in 3
                                    </div>
                                    <div class="inner-info">
                                        <div>
                                            Đang in
                                        </div>
                                        <button class="button-not-cancel">
                                            Hủy yêu cầu
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                <div class="inner-content">
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='public/scripts/script.js') }}"></script>
</body>
</html>