* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.main {
    background: linear-gradient(180deg,#000040 , #0000A6);
    font-family: Arial, Helvetica, sans-serif;
}

.main .inner-wrap {
    display: flex;
}
/* main-left */
.main-left {
    background-color: #000000;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    align-items: center;
}

.main-left .inner-logo {
    border: 2px solid #b8b8b8;
    border-radius: 60px;
    padding: 5px 55px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.main-left .inner-logo img {
    width: 45px;
    height: auto;
}

.main-left .inner-main-title {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}

.main .inner-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main .inner-list ul .func{
    background-color: #ffffff;
    color: #101010;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    border-radius: 30px;
}

/* end main-left */

/* main-right */

.main-right {
    width: 85%;
    display: flex;
    flex-direction: column;

}

.main-right .inner-logout {
    display: flex;
    justify-content: flex-end;
    
}

.main-right .inner-logout i {
    position: relative;
    color: #b5b3b3;
    font-size: 35px;
    
    top: 10px;
    right: 15px;
}

.main-right .inner-print-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}


.main-right .inner-print-list .inner-request {
    background-color: #dee5ed;
    color: #1a202c;
    width: calc((100% - 100px) / 4);
    padding: 20px;
    border-radius: 5px;
}

.main-right .inner-print-list .inner-request .inner-request-title {
    font-size: 13px;
    font-weight: 700;
    position: relative;
}
.main-right .inner-print-list .inner-request .inner-request-title i {
    font-size: 18px;
    position: absolute;
    right: 10px;
}

.main-right .inner-print-list .inner-request .inner-request-image {
    padding: 45px 60px;
}

.main-right .inner-print-list .inner-request .inner-request-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-right .inner-print-list .inner-request .inner-request-info .inner-printer {
    font-size: 13px;
    font-weight: 700;
    
}

.main-right .inner-print-list .inner-request .inner-request-info .inner-info {
    font-size: 14px;
    font-weight: 700;
}

.button-print {
    padding: 7px 17px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    background-color: #ffffff;
    margin-top: 5px;
    border-radius: 3px;
}

.main-right .inner-content {
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 30px;
    
}
/* end main-right */

