/*======== TABLE OF CONTENTS ==============
1. Input CSS
2. Button CSS
3. Text CSS
4. Heading CSS
5. Container CSS
===========================================*/

/*-------------------------------------
 1. Input CSS 
 --------------------------------------*/
.ui.input.round {
    border-radius: var(--radius-xs);
  }
  
.ui.input.size-xs {
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}
  
.ui.input.fill.white_a700 {
    background-color: var(--white_a700);
    color: var(--gray-400);
}
  
.ui.input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    color: var(--gray-400);
    font-size: 16px;
    background-color: var(--white_a700);
    align-self: stretch;
    border-radius: var(--radius-xs);
    border: 0.5px solid var(--blue-gray-100);
}

/*-------------------------
 2. Button CSS 
--------------------------*/
.ui.button.round {
    border-radius: var(--radius-xs);
}
  
.ui.button.size-sm {
    height: 64px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 36px;
}
  
.ui.button.size-md {
    height: 68px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 36px;
}
  
.ui.button.size-xs {
    height: 40px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 16px;
}
  
.ui.button.fill.blue-gray-900 {
    background-color: var(--blue-gray-900);
    color: var(--gray-100);
}
  
.ui.button.fill.gray-400_02 {
    background-color: var(--gray-400_02);
    box-shadow: var(--shadow-xs);
    color: var(--gray-700);
}

.ui.button{
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/*-----------------------------
 3. Text CSS
------------------------------*/
.ui.text.size-texts {
    font-size: 32px;
    font-weight: 400;
    @media only screen and (max-width: 1440px) {
        font-size: 27px;
    }

    @media only screen and (max-width: 10050px) {
        font-size: 30px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 28px;
    }
}

.ui.text.size-texts{
    font-size:64px; 
    font-weight: 400;
    @media only screen and (max-width: 1440px){
        font-size: 64px;
    }

    @media only screen and (max-width: 1050px){
        font-size: 48px;
    }
}

.ui.text{
    color: var(--gray_900);
    font-family: Inter;
}

/*---------------------------
 4. Heading CSS
----------------------------*/
.ui.heading.size-headingxs{
    font-size: 27px;
    font-weight: 700;
    @media only screen and (max-width: 1440px){
        font-size: 22px;
    }

    @media only screen and (max-width: 1050px){
        font-size: 25px;
    }

    @media only screen and (max-width: 550px){
        font-size: 23px;
    }
}

.ui.heading.size-headings{
    font-size: 48px;
    font-weight: 700;
    @media only screen and (max-width: 1440px){
        font-size: 40px;
    }

    @media only screen and (max-width: 1050px){
        font-size: 44px;
    }

    @media only screen and (max-width: 550px){
        font-size: 39px;
    }
}

.ui.heading{
    color: var(--black_900_01);
    font-family: Space Grotesk;
}

/*----------------------------------------
  5. Container CSS
----------------------------------------*/
.container-xs{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

