@font-face{
    font-display: swap;
    font-style: normal;
    src: url("/static/public/fonts/SpaceGrotesk-Bold.ttf");
    font-family: "Space Grostesk";
    font-weight: 700;
}
@font-face{
    font-display: swap;
    font-style: normal;
    src: url("/static/public/fonts/Inter_24pt-Regular.ttf");
    font-family: "Inter";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/static/public/fonts/VT323-Regular.ttf");
    font-family: "VT323";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/static/public/fonts/UnicaOne-Regular.ttf");
    font-family: "Unica One";
    font-weight: 400;
}